@import "tailwindcss";

@theme {
  --color-primarycolor: #FFFFFF;
  --color-background: #2B2B2B;
  --color-secondaryBackground: #3B3B3B;
  --color-btnBackground: #A259FF;
  --color-lightFont: #858584;
  --color-secondaryFont: #CCCCCC;
  --font-workSans: 'Work Sans';
  --font-spaceMono: 'Space Mono';
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primarycolor);
    font-family: var(--font-workSans);
  }
}

@layer components {
  .btn {
    @apply bg-[var(--color-btnBackground)] rounded-[1.25rem];
  }

  .nav-link {
    @apply font-semibold text-base leading-[140%] tracking-[0] max-[1210px]:text-sm;
  }

  .hover-effect {
    @apply transition-transform duration-200 hover:scale-95;

  }

  .black-btn {
    @apply bg-[var(--color-background)] border border-[var(--color-btnBackground)] rounded-[1.25rem];
  }
}